/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.login-page {
  background-color: #141414;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #1e1e1e;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px  rgb(0, 132, 255);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #e50914;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

input::placeholder {
  color: #bbb;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #095ae5bf;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color:#095ae5bf;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  flex: 1;
}

.password-container button {
  position: absolute;
  right: 10px;
  background: none;
  color: #bbb;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 100%;
}

.options {
  margin-top: 15px;
}

.or {
  display: block;
  margin: 15px 0;
  font-size: 0.9rem;
  color: #ccc;
}

.forgot,
.signup a {
  color: #bbb;
  font-size: 0.9rem;
  text-decoration: none;
}

.forgot:hover,
.signup a:hover {
  color: #fff;
}

.signup {
  margin-top: 15px;
}

.learn-more {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #666;
}